nav {
    width: 100%;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    transition: var(--transition);
}

.dark-nav {
    background: rgba(0, 26, 53, 0.85);
    /* Modern translucent blue */
    backdrop-filter: blur(15px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.transparent-nav {
    background: transparent;
}

.result {
    width: 160px;

}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
    font-weight: 500;
    transition: var(--transition);
}

nav ul li:hover {
    color: var(--secondary-color);
}

.dark-nav {
    background: var(--primary-color);
    transition: var(--transition);
    padding: 10px 0;
}

.transparent-nav {
    background: transparent;
    transition: 0.5s;
}

.menu-icon {
    display: none;
}

/*............media quary..............*/
@media (max-width: 1000px) {
    .result {
        width: 140px;
    }
}

nav ul li {
    margin: 10px 15px;
}

@media (max-width: 840px) {
    nav {
        padding: 15px 0;

    }

    nav ul {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background: #212ea0;
        z-index: -1;
        width: 200px;
        padding-top: 70px;
        transition: 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px 40px;
    }

    .menu-icon {
        display: block;
        width: 40px;
        cursor: pointer;
    }

    .hide-mobile-menu {
        right: -200px;
        ;
    }
}