.Campus {
    margin: 80px auto;
    width: 90%;
    text-align: center;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    gap: 20px;
}

.gallery img {
    width: 23%;
    border-radius: 10px;
    transition: var(--transition);
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

.gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

/*............media query..............*/
@media (max-width: 800px) {
    .gallery {
        flex-wrap: wrap;
        justify-content: center;
    }

    .gallery img {
        width: 45%;
        margin-bottom: 25px;
    }
}